/* Estilo para las imágenes del juego */
img {
    width: 50px; 
    height: 50px;
    border: 1px solid black;
}

div {
  display: inline-block;
  border: 1px solid black;
}

#turnoJugador{
  border: 0px;
}

td{
  border: 1px solid black;
  width: 53px; 
  height: 53px;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

table{
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 20px;
  padding-right: 20px;
}

body{
  text-align: center;
} 